body {
    background-color: #f8f8f8;
}
.menu {
    font-family: Times, serif;
    font-size: 19px;
    list-style-type: none;
}
.menu a {
    color: #015666;
}
.product_page_h3 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.text_description_brief {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.text_description_detailed {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.characteristics {
    list-style-image: url(img/list.png);
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
}
.cont_input {
    height: 22px;
}
textarea, .cont_input {
    font-size: 18px;
    border: solid black 1px;
    border-radius: 6px;
    color: #015666;
    font-weight: 500;
    padding: 4px;
}
.img_catalog {
    width: 450px;
    border: solid black 2px;
}
.img_product {
    width: 900px;
    border: solid black 2px;
}
